/.DS_Store
/SwiftCastRank/Packages
/SwiftCastRank/.build
/SwiftCastRank/xcuserdata
/SwiftCastRank/*.xcodeproj
/SwiftCastRank/DerivedData/
/SwiftCastRank/.DS_Store
/ServerSideSwift.key
/SwiftCastRank/swiftCastRank.db
